/* styles.css */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: var(--black);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

  section {
    padding: 12rem 10%;
  }

.page-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Left section styling */
.left-section {
  flex: 0.8;
  height: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  margin-left: 0;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 0;
  z-index: 1;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.head-image img {
  margin-bottom: 20px;
  /*margin-left: ;*/
  max-width: 100%;
  height: auto;
}

.login-section {
  width: 100%;
  max-width: 80%;
  padding-left: 1.5rem;
}

.login-section h2 {
  margin-left: 133px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  width: 348px;
  padding: 10px;
  border-radius: 90px;
  border: 1px solid var(--border);
  background-color: transparent;
  color: #656ED3;
  box-shadow: none;
  transition: border-color 0.3s ease;
}

.login-btn {
  width: 348px;
  padding: 10px;
  border-radius: 90px;
  border: 1px solid #656ED3;
  background-color: #656ED3;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-btn:hover {
  background-color: #4c53a5;
  font-weight: bold;
}

p {
  margin-left: 95px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #656ED3;
}
/*right section styling */

.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
}

.right-section img {
  max-width: 130%;
  height: 130%;
  margin-left: 2.5rem;
}