/* initialization */
.main_container {
    margin-top: 70px;
    padding-left: 200px;
    padding-right: 200px;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.main {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

/* defined post style */
.post {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 30px;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    float: left;
    word-wrap: break-word;
}

/* set time display */
.create-time, .comment-time{
    font-size: 14px;
    color: #666;
    font-weight: bold;
}

.post button:hover {
    background-color: #0056b3;
}

/* defined comment style */
.comment,
.comment-edit {
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    float: right;
    clear: both;
    word-wrap: break-word;
}

.comment .accepted-btn {
    display: none;
}

.email {
    font-size: 0.9em;
    opacity: 0.4;
}

/* set accapt ability */
.comment:hover .accepted-btn {
    display: inline-block;
}

.accepted-comment {
    background-color: #ebecf4;
    border-left: 5px solid #b99be3;
    padding: 10px;
}

.accepted-btn,
#comment-submit {
    border-radius: 999px;
    padding: 10px;
    background-color: #656ED3;
    border: 1px solid;
    color: white;
    font-size: 14px;
}

#comment-submit:hover {
    background-color: #4c53a5;
}

/* set user information part */
.counter {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
}

.info-container {
    display: flex;
    align-items: center;
}

.img-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
    display: inline-block;
    background-size: cover;
}

.create-time,
.comment-time {
    margin-left: auto;
}

#comment-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 2px solid #656ED3;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    resize: none;
    overflow: hidden;
}

textarea:hover {
    background-color: #ebecf4;
}

.post-code {
    display: inline-block;
    max-width: 100%;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px;
    color: #fcbc56;
    background-color: #ffeee2;
    word-wrap: break-word; /* automatically wrap */
}

.post-type {
    border-radius: 5px;
    font-size: 12px;
    padding: 4px;
    display: inline-block;
    word-wrap: break-word;
}

/* Set different colors for each tag */
.post-type-G {
    color:#4caf50;
    background-color: #d8f8d9;
}

.post-type-HW {
    color: #2196f3;
    background-color: #d4eafc;
}

.post-type-AC {
    color: #9c27b0;
    background-color: #f4daf8;
}

.post-type-QA {
    color: #ff69b4;
    background-color: #fde2f0;
}

.post-type-Others {
    color: #3b3e41;
    background-color: #d0d5d5;
}

.post-type-default {
    background-color: #cccccc;
}

.search-container {
        display: none;
}

/*Responsive */
/*Adjust styles for laptop screens */
@media (max-width: 1024px) {
    .main_container {
        padding-left: 180px;
        padding-right: 10px;
        padding-top: 10px;
    }

    .main {
        width: 90%;
    }

    .post,
    .comment,
    .comment-edit {
        max-width: 90%;
    }
}

/*Adjust styles for pad screens */
@media (max-width: 768px) {
    .main_container {
        padding-left: 180px;
        padding-right: 10px;
        padding-top: 45px;
    }

    .main {
        width: 95%;
    }

    .post,
    .comment,
    .comment-edit {
        max-width: 95%;
    }

    #comment-textarea {
        height: 80px;
    }
}

/*Adjust styles for phone screens */
@media (max-width: 480px) {
    .main_container {
        padding-left: 90px;
        padding-right: 10px;
        padding-top: 45px;
    }

    .main {
        width: 100%;
    }

    .post,
    .comment,
    .comment-edit {
        max-width: 80%;
    }

    #comment-textarea {
        height: 60px;
    }

    .img-circle {
        display: none;
    }

    .accepted-btn,
    #comment-submit {
        font-size: 12px;
        padding: 8px;
    }
}