<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
</head>

<body>
    <div class="page-container">
        <!-- Home Button -->
        <a href="{{ url_for('auth.login') }}" class="home-button">Home</a>
        <!-- Left Section -->
        <div class="left-section">
            <div class="image1">
                <img src="{{ url_for('static', filename='/images/register.png') }}" alt="reset password">
            </div>
        </div>
        <!-- Right Section -->
        <div class="right-section">
            <!-- Reset Password Form Section -->
            <div class="register-section">
                <form method="POST" action="{{ url_for('auth.forgot_password') }}">
                    <!-- CSRF Token -->
                    {{ forgot_form.hidden_tag() }}
                    <!-- Flash Error Messages -->
                    {% with messages = get_flashed_messages(category_filter=['error']) %}
                    {% if messages %}
                    <div class="error">
                        {% for message in messages %}
                        <p style="color:red;">{{ message }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <!-- Email Input Field-->
                    <div class="form-group">
                        <label for="email">Please enter the email address</label>
                        {{ forgot_form.email(id="email") }}
                        {% if forgot_form.email.errors %}
                        <div class="error">
                            {% for error in forgot_form.email.errors %}
                            <p style="color:red;">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- Submit Button -->
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
