{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

    <div class="main_container">
        <a href="{{ url_for('profile.overview_profile')}}">Go to Profile Page</a>
        <a href="{{ url_for('postCom.create_post')}}">Create a New Question</a>
        <main class="main">
            {% for post in posts %}
            <div class="post" tabindex="0">
                <img src="{{ url_for('static', filename='images/icons/' + post.post_type|lower + '.png') }}" alt="Left Icon" class="iconleft">
                <h2>{{ post.title }}</h2>
                <div class="date">{{ post.create_time.strftime('%d %B') }}</div>
                <p>{{ post.content | truncate(100) }}</p>
                <p class="read">Read More</p>
                <img src="{{ url_for('static', filename='images/icons/heart1.png') }}" alt="Heart Icon" class="iconright">
            </div>
            {% endfor %}
        </main>
    </div>
{% endblock %}

