{% extends "base.html" %}

{% block head %}
    {{ super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block content %}
   <div class="container">
       <div class="sidebar">
            <ul>
                <li><a href="{{ url_for('postCom.index') }}">All</a></li>
                <li><a href="{{ url_for('postCom.index', type='G') }}">Gardening</a></li>
                <li><a href="{{ url_for('postCom.index', type='HW') }}">Housework</a></li>
                <li><a href="{{ url_for('postCom.index', type='AC') }}">After-school</a></li>
                <li><a href="{{ url_for('postCom.index', type='QA') }}">Question</a></li>
                <li><a href="{{ url_for('postCom.index', type='Others') }}">Others</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Welcome to the Home Page: {{ current_user.username }}</h1>
            {% if current_user.avatar %}
               <img src="{{ url_for('profile.get_avatar', filename=current_user.avatar) }}" alt="..." class="img-circle" id="avatar-img">
            {% endif %}
            <a href="{{ url_for('profile.overview_profile') }}">Go to Profile Page</a>
            <a href="{{ url_for('postCom.create_question') }}">Create a New Question</a>
            <section class="posts-area">
                {% for post in posts %}
                    <div class="post-detail">
                        <h3>{{ post.title }}</h3>
                        <p> {{ post.content }}</p>
                        <p>By {{ post.author.username }}</p>
                        <p>Posted on {{ post.create_time }}</p>
                        <a href="{{ url_for('postCom.post_detail',post_id=post.id) }}">visit</a>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}
