<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Question</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot-password.css') }}">
    <link rel="icon" href="{{url_for('static', filename='images/cat.png')}}">
</head>

<body>
    <div class="page-container">
        <!-- Home Button -->
        <a href="{{ url_for('auth.login') }}" class="home-button">Home</a>
        <!-- Left Section -->
        <div class="left-section">
            <div class="image1">
                <img src="{{ url_for('static', filename='/images/register.png') }}" alt="security question">
            </div>
        </div>
        <!-- Right Sectiion -->
        <div class="right-section">
            <!-- Security Question Form Section -->
            <div class="register-section">
                <form method="POST" action="{{ url_for('auth.security_question', email=email) }}">
                    <!-- CSRF Token -->
                    {{ form.hidden_tag() }}
                    <!-- Security Question Field -->
                    <div class="form-group">
                        <label for="security-answer">Security Question</label>
                        <p>{{ question }}</p>
                        {{ form.security_answer(id="security-answer") }}
                        {% if form.security_answer.errors %}
                        <div class="error">
                            {% for error in form.security_answer.errors %}
                            <p style="color:red;">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <!-- New Password Field -->
                    <div class="form-group">
                        <label for="new-password">New Password</label>
                        {{ form.new_password(id="new-password") }}
                        {% if form.new_password.errors %}
                        <div class="error">
                            {% for error in form.new_password.errors %}
                            <p style="color:red;">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <!-- Confirm Password Field -->
                    <div class="form-group">
                        <label for="confirm-password">Confirm Password</label>
                        {{ form.confirm_password(id="confirm-password") }}
                        {% if form.confirm_password.errors %}
                        <div class="error">
                            {% for error in form.confirm_password.errors %}
                            <p style="color:red;">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <!-- Submit Button -->
                    <button type="submit">Reset Password</button>
                </form>
                <!-- Link to Login -->
                <p>Remembered your password? <a href="{{ url_for('auth.login') }}">Login!</a></p>
            </div>
        </div>
    </div>
</body>

</html>
